.article, .article-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.article-box {
  flex: 3 1 30ch;
  height: calc(282px + 5vw);
  overflow: hidden;
}
.article-box img {
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}
.article {
  border-radius: 8px;
  overflow: hidden;
  background-color:rgb(255, 255, 255);
}
.article-content {
  padding: 16px 32px;
  flex: 4 1 40ch;
}
.article-tags {
  margin: 0 -8px;
}
.article-tag {
  display: inline-block;
  margin: 8px;
  font-size: 0.875em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.02em;
  color: var(--primary);
}
.article-title {
  margin: 0;
  font-size: clamp(1.4em, 2.1vw, 2.1em);
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}
.article-title a {
  text-decoration: none;
  color: inherit;
}
.article-metadata {
  margin: 0;
}
.article-rating {
  font-size: 1.2em;
  letter-spacing: 0.05em;
  color: var(--primary);
}
.article-rating span {
  color: var(--grey);
}
.article-votes {
  font-size: 0.825em;
  font-style: italic;
  color: var(--lightgrey);
}
.article-save {
  display: flex;
  align-items: right;
  padding: 6px 14px 6px 12px;
  border-radius: 4px;
  border: 2px solid currentColor;
  color: var(--primary);
  background: none;
  cursor: pointer;
  font-weight: bold;
}
.article-save svg {
  margin-right: 6px;
}
* {
  box-sizing: border-box;
}
body {
  --primary: #e05d26;
  --grey: #454545;
  --lightgrey: #666;
  color: var(--grey);
  line-height: 1.55;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  background: linear-gradient(to right, #484466, #191626);

}
.big {
  width: clamp(320px, 65%, 65%);
  padding: 24px;
}


.text-muted{
  opacity: 0.5;
}

.article-link {
  text-decoration: none;
}

ion-icon {
  color: #484466;
  padding: 5px;
  align-content: flex-end;
}
